@import './_helper.scss';

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css');

$font: 'Roboto', sans-serif;
$osbeats-primary-color: #1e90ff;
$white: #F5F5F5;
$black: #272727;
$blacker: #1B1B1B;

%text
{
    font-family: $font;
}

%osbeats-primary-circle-button
{
    background-color: $osbeats-primary-color;
    color: $white;
    border: none;
    border-radius: 100%;
    font-size: 1em;
    height: 50px;
    width: 50px;
    &:hover
    {
        color: white;
        cursor: pointer;
    }
    &:focus
    {
        outline: none;
    }
}

%osbeats-secondary-circle-button
{
    color: $white;
    font-size: 1.7em;
    &:hover
    {
        color: white;
        cursor: pointer;
    }
    &:focus
    {
        outline: none;
    }
}

html, body
{
    height: 100%;
    width: 100%;
    padding: 0;
}

#root
{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100%;
}

.osbeats-header, .osbeats-main, .osbeats-footer
{
    flex-shrink: 0;
}

.osbeats-active-blue
{
    color: $osbeats-primary-color!important;
}

.osbeats-header
{
    background-color: $blacker;
    display: flex;
    flex-direction: row;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    & > *
    {
        flex: 1;
    }
}

.osbeats-header-searchbar
{
    @extend %text;
    color: $black;
    border: none;
    border-radius: 50px;
    padding: 0.5em 0.7em;
    margin-top: 0.6em;
    width: 80%;
    &:focus
    {
        outline: none;
    }
}

.osbeats-header-search-icon
{
    color: $black;
    position: relative;
    margin-top: 0.6em;
    right: 25px;
    &:hover
    {
        cursor: pointer;
    }
}

.osbeats-logo-container
{
    align-items: flex-end;
}

.osbeats-logo
{
    height: 50px;
    width: 50px;
    margin-top: 0.3em;
    margin-right: 5em;
}

.osbeats-main
{
    background-color: $blacker;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    & > *
    {
        flex: 1;
    }
}

.osbeats-main-playlists-aside
{
    flex: 0.15;
}

.osbeats-main-playlists-aside-title
{
    @extend %text;
    color: $osbeats-primary-color;
    margin-bottom: 1em;
    font-weight: 400;
}

.osbeats-main-playlists-aside-name
{
    @extend %text;
    color: $white;
    margin: 0.8em 0em;
    &:hover
    {
        cursor: pointer;
    }
}

.osbeats-list
{
    flex: 0.85!important;
}

.osbeats-main-list-results-title
{
    @extend %text;
    color: $osbeats-primary-color;
    font-size: 2.3em;
    font-weight: 400;
}

.osbeats-main-list
{
    align-items: flex-start;
    margin-top: 1em;
}

.osbeats-main-list-results-none
{
    @extend %text;
    color: $white;
    font-size: 1.5em;
    font-weight: 400;
}

.osbeats-suggestions-suggestion
{
    background-color: #3f3f3f;
    border-radius: 30px;
    padding: 0.6em 1em;
    margin: 0.5em;
    &:hover
    {
        background-color: $blacker;
        cursor: pointer;
    }
}

.osbeats-suggestions-image
{
    border-radius: 50px;
    height: 50px;
    width: 50px;
    margin-right: 1em;
}

.osbeats-suggestions-title
{
    @extend %text;
    color: $white;
    margin-right: 0.6em;
    font-weight: 400;
    &:hover
    {
        cursor: pointer;
    }
}

.osbeats-footer
{
    background-color: $black;
    display: flex;
    flex-direction: row;
    padding-top: 0.3em;
    padding-bottom: 0.5em;
    & > *
    {
        flex: 1;
    }
}

.osbeats-song-info-image
{
    height: 100px;
    width: 100px;
    margin-right: 1.5em;
}

.osbeats-song-info-title
{
    @extend %text;
    color: $white;
    text-align: center;
    margin-top: 0.4em;
    &:hover
    {
        cursor: pointer;
    }
}

.osbeats-song-info-credit
{
    @extend %text;
    color: $white;
    text-align: center;
}

.osbeats-song-controls
{
    justify-content: space-evenly;
    margin-bottom: 0.5em;
}

.osbeats-pause-play-button
{
    @extend %osbeats-primary-circle-button;
    align-self: center;
    
}

.osbeats-secondary-circle-button
{
    @extend %osbeats-secondary-circle-button;
    align-self: center;
}

.osbeats-volume-bar
{
    align-items: flex-end!important;
    padding-bottom: 3em;
}

.osbeats-volume-icon
{
    color: $white;
    justify-content: flex-end;
    text-align: right;
    font-size: 1.5em;
    &:hover
    {
        cursor: pointer;
    }
}

.osbeats-volume-slider
{
    padding-bottom: 0.4em;
}

.osbeats-slider-time
{
    @extend %text;
    color: $white;
}

.osbeats-slider
{
    position: relative;
    box-sizing: border-box;
    touch-action: none;
    -ms-touch-action: none;
    border-radius: 6px;
    height: 14px;
    padding: 5px 0;
    width: 60%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.osbeats-volume
{
    align-self: flex-start;
    margin-left: 1em;
    width: 60%;
}

.osbeats-slider > *
{
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.osbeats-slider > .rc-slider-rail
{
    position: absolute;
    background-color: $white;
    border-radius: 6px;
    height: 4px;
    width: 100%;
}

.osbeats-slider > .rc-slider-track
{
    position: absolute;
    background-color: $osbeats-primary-color;
    border-radius: 6px;
    height: 4px;
    left: 0;
}

.osbeats-slider > .rc-slider-step
{
    position: absolute;
    background: transparent;
    height: 4px;
    width: 100%;
}

.osbeats-slider > .rc-slider-handle
{
    position: absolute;
    cursor: pointer;
    cursor: -webkit-grab;
    cursor: grab;
    background-color: $white;
    border-radius: 50%;
    margin-top: -5px;
    margin-left: -7px;
    height: 14px;
    width: 14px;
    -ms-touch-action: pan-x;
    touch-action: pan-x;
}

.osbeats-slider > .rc-slider-mark
{

}